@import url(https://fonts.googleapis.com/css2?family=Bangers&display=swap);

body, html {
    font-family: "Bangers", cursive;
    background: lightblue;
    height: 100%;
    box-sizing: border-box;
  }

  .color-selection{
    width: 145px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

.color-box{
  width: 20px;
  padding: 4px;
  height: 20px;
  border: solid 1px white;
  transition: 200ms all ease;
}

.color-box:hover{
  height: 25px;
  width: 25px;
  cursor: pointer;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.16), 2px 6px 9px 3px rgba(0,0,0,0.35);
}

.creating-things{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.note-pink, .note-red, .note-orange, .note-green, .note-purple, .note-fun{
  border: white solid 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  height: 325px;
  width: 350px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  transition: 200ms all ease;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.16), 2px 6px 9px 3px rgba(0,0,0,0.35);
}

.note-pink:hover, .note-red:hover, .note-orange:hover, .note-green:hover, .note-purple:hover{
  box-shadow: 0px 7px 9px 5px rgba(0,0,0,0.16), 4px 8px 11px 5px rgba(0,0,0,0.35);
}

.color-box-clicked{
  width: 30px;
  padding: 4px;
  height: 25px;
  border: solid 2px white;
  transition: 200ms all ease;
  box-shadow: 0px 7px 9px 5px rgba(0,0,0,0.16), 4px 8px 11px 5px rgba(0,0,0,0.35);

}

.note-pink, #pink{
  background-color: rgb(238, 171, 171);
}

.note-red, #red{
  background-color: rgb(243, 74, 74);
}

.note-green, #green{
  background-color: rgb(109, 209, 109);
}

.note-orange, #orange{
  background-color: rgb(250, 134, 40);
}

.note-purple, #purple{
  background-color: rgb(203, 86, 233);
}

.note-fun{
  animation: fun;
  animation-duration: .7s;
  animation-iteration-count: 1;
  transition: .7 all ease;
  background-color: rgb(238, 171, 171);
}

@keyframes fun{
  0%{
    transform: rotateZ(60deg);
    background-color: white;
  }
  20%{
    transform: rotateZ(120deg);
    background-color: rgb(238, 171, 171);
  }
  40%{
    transform: rotateZ(180deg);
    background-color: rgb(109, 209, 109);
  }
  60%{
    transform: rotateZ(240deg);
    background-color: rgb(250, 134, 40);
  }
  80%{
    transform: rotateZ(300deg);
    background-color: rgb(203, 86, 233);
  }
  100%{
    transform: rotateZ(360deg);
    background-color: rgb(243, 74, 74);
  }
}

.textbox{
  height: 150px;
  width: 400px;
}

.entryinput{
  border-radius: 10px;
  height: 50px;
  width: 95%;
  background-color: transparent;
  font-family: "Bangers", cursive;
  transition: .3s ease all;
  font-size: 30px;
  margin-top: 20px;
  outline: none;
  border: white 2px solid;
}

.entryinput:hover{
  background-color: white;
}

.entryinput:focus{
  background-color: pink;
  border: 4px solid white;
  width: 100%;
  outline: none;

}

.inputTextbox{
  width: 100%;
  height: 100%;
  transition: 2s ease all;
  background-color: transparent;
  border: transparent;
  font-family: "Bangers", cursive;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

#title{
  padding-right: 50px;
  margin-right: 20px;
  width: 112px;
  font-size: 20px;
  margin-top: 5px;
  transition: 1s ease all;
  color: black;
}

#title-textbox{
  margin-top: 15px;
  margin-left: 5px;
}

button{
  height: 100px;
  width: 200px;
  border-radius: 20px;
  border: pink double 4px;
  color: black;
  font-size: 30px;
  background-color: white;
  outline: none;
  transition: 300ms all ease;
  font-family: "Bangers", cursive;
}

.notetext{
  overflow: hidden;
  margin: 0px;
  margin-top: 20px;
  height: 100%;

}

.NoteEntryFlexbox{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.note-top-row{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#trash, #arrows, #check, #undo, #star{
  margin-right: 9px;
  width: 30px;
  height: 30px;
  transition: 150ms all ease;
  color: white;
  margin-top: 7px;

}

#check.icon, #undo.icon{
  height: 50px;
  width: 50px;
  transition: 400ms transform ease, all 400ms ease;
}

#check.icon:hover{
  height: 55px;
  width: 55px;
  transform: rotateZ(360deg);
}

#undo.icon{
  height: 55px;
  width: 55px;
}

#undo.icon:hover{
  transform:  rotateZ(360deg);
  color: black;
  cursor: pointer;
}

#star.icon:hover{
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rainbow{
  0%{
    color: red;
  }
  20%{
    color: orange;
  }
  40%{
    color: green;
  }
  60%{
    color: blue;
  }
  80%{
    color: pink;
  }
  95%{
    color: white;
  }
  100%{
    color: black;
  }

}

#trash:hover, #arrows:hover, #check:hover, #star:hover{
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: black;
}

.bottom-note{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox{
  width: 80%;
  height: max-content;
  word-wrap: break-word;
  overflow: hidden;
  padding: 2px;
  border: 4px solid transparent;
  transition: 200ms ease all;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

h1{
  width: 200px;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
  color: black;
  transition: 100ms all ease;
  overflow: wrap;
}

.textbox:hover, #main-text:hover{
  border-radius: 8px;
  cursor: pointer;
  border: 4px white solid;
  animation-name: blinking-border;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes blinking-border{
  from{
    border: 4px white dashed;
  }
  to{
    border: 4px black dashed;
  }
}



button:hover{
  background-color: white;
  color: pink;
  font-size: 35px;
  border-radius: 15px;
  cursor: pointer;
}
button:active{
  background-color: pink;
  color: black;
  outline: none;
}